h1 {
    color: rgb(41, 126, 200);
    font-size: 50px;
    text-align: center;
}

p {
    color: brown;
    background-color: aqua;
    text-align: center;
    font-size: medium;
}

.card {
  width: 200px;
  padding: 20px;
  margin: 10px;
}

h1 {
  color: blue;
}

.text {
  font-size: 16px;
  color: gray;
}

#title {
  text-align: center;
}

.box {
  width: 200px;
  padding: 20px;
  border: 2px solid black;
  margin: 15px;
  box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input, button {
    width: 200px;
    padding: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
}

.layout {
    display: flex;
}

.sidebar {
    width: 200px;
    background: #4d937e;
    color: white;
    padding: 20px;
}

.content {
    flex: -1;
    padding: 20px;
}

.layout{
    display: flex;
}

.sidebar {
    width: 200px4;
    background: rgb(20, 80, 45);
    padding: 15px;
}

.content{
    flex: 1;
    padding: 20px;
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

}